<h1>Editar obra</h1>

<%= simple_form_for @play, html: { multipart: true } do |f| %>
  <%= f.file_field :play_img %>
  <br>
  <%= f.select :category_id, @categories %>
  <br><br>
  <%= f.input :title, label: "Título" %>
  <%= f.input :description, label: "Descripción" %>
  <%= f.input :director %>
  <%= f.button :submit, label: "Actualizar" %>
<% end %>
