<div class="row">
  <div class="col-md-4">
    <%= image_tag @play.play_img.url(:play_show), class: 'play-show' %>
  </div>

  <div class="col-md-8">
    <div class="play-info">
      <h2 class="play-title"><%= @play.title %></h2>
      <h3 class="play-director"><span><em>De:</em></span> <%= @play.director %></h3>
      <h4 class="play-director"><%= @play.category.name %></h4>
      <h4 class="avg-rating">Calificación</h4>

      <div class="average-review-rating" data-score=<%= @average_review %>></div>

      <span class="number-of-reviews"><em>De:</em> <%= @play.reviews.count %> reseñas</span>
      <p class="play-desc"><%= @play.description %></p>
    </div>
  </div>
</div>

<!-- Reseñas -->
<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1>Reseñas</h1>

      <%= render @play.reviews %>

      <div>
        <%= link_to "Agregar reseña", new_play_review_path(@play), class: 'btn-custom' %>
      </div>
    </div>
  </div>
</div>

<!-- Control -->
<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
      <%= link_to "Editar", edit_play_path(@play), class: 'btn btn-custom' %>
      <%= link_to "Eliminar", play_path(@play), method: :delete, data: { confirm: "¿Estás seguro?" },
      class: 'btn btn-custom' %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  // Muestra el puntaje de las reseñas
	$('.review-rating').raty({
		readOnly: true,

		score: function() {
			return $(this).attr('data-score');
		},

		path: '/assets/'
	});

  // Muestra el promedio del puntaje
  $('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
