<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<h4><%= @play.category.name %></h4>
<p><%= @play.description %></p>

<!-- Control -->
<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
      <%= link_to "Editar", edit_play_path(@play) %>
      <%= link_to "Eliminar", play_path(@play), method: :delete, data: { confirm: "¿Estás seguro?" } %>
    <% end %>
  <% end %>
</div>
